<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Code Camp App<small> - Coding & Learning</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Code Lessons:
                    </h3>
                </div>
                <div class="panel-body">
                    Lesson 1:
                </div>
                <div class="panel-body">
                    Lesson 2:
                </div>
                <div class="panel-footer">
                    End of lesson
                </div>
            </div>
        </div>
        <div class="col-md-10 column">
            <tabset>
                    <tab heading="Code Editor">
                        <div ui-ace="{
                              useWrapMode : true,
                              showGutter: true,
                              theme:'twilight',
                              mode: 'xml',
                              onLoad: aceLoaded,
                              onChange: aceChanged
                            }"></div>
                    </tab>
                    <tab heading="Profile">
                        Profile...
                    </tab>
                    <tab heading="Messages">
                        Messages...
                    </tab>
            </tabset>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column well">
            compilation error at line 5 ->
        </div>
    </div>
</div>
